/*font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;*/

body {
  margin: 0 100px;
  color: #4a4a4a;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  box-sizing: border-box;
}
*, *:after, *:before {
	box-sizing: inherit;
}

h1 {
  font-family: 'Playfair Display';
  font-size: 100px;
  margin: 0 0 60px 0;
}

h2 {
  font-size: 30px;
}

.intro > h2 {
	margin-bottom: 120px;
}

h2.projects__header {
	padding-top: 40px;
	margin: 60px 0;
	border-top: 3px solid #FA8072;
}
h3, .project__link {
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}

.project__link {
	margin-top: 15px;
}

span.link {
    text-decoration: underline;
    color: #FA8072;
}

p {
	display: inline-block;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
}

p.awards {
	font-size: 18px;
	font-style: italic;
	font-family: 'Merriweather', serif;
	margin-bottom: 60px;
}



.intro {
	height: 80vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.projects__container {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
}

.project {
	display: flex;
	padding: 20px;
	background-color: pink;
	height: 350px;
	margin: 15px;
	flex-grow: 1
	flex-shrink: 1;
} 

.project--full {
		width: 100%;
}

.project--half {
		width: calc(50% - 30px);
}

.project--two-thirds {
		width: calc(66% - 30px);
}

.project--one-third {
		width: calc(33% - 30px);
}

.project--one-third > .project__info,
.project--half > .project__info {
	width: 100%;
}

.project__info {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 50%;
}

.project__info > h1 {
	font-family: 'Merriweather';
	font-size: 30px;
	margin: 0;
}

.project__info > h2 {
	font-family: 'Merriweather'
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
	margin: 0;
}



.project__tags {
	display: flex;
	flex-wrap: wrap;
	margin: -3px;
}

.project__tag {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	font-family: sans-serif;
	font-size: 10px;
	height: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 0 6px;
	margin: 3px;
	background-color: rgba(255, 255, 255, .5);
	line-height: 12px;
}




.tracer {
	background-color: #044638;
	color: rgba(255,255,255, .9);
}

.path-paradox {
	background-color: #F5ECDD;
	color: #535D92;
}

.rosy-feed {
	background-color: #BF3A57;
	color: rgba(255,255,255, .9);
}

.sixteen-thirty {
	background-color: #E0DDD1;
	color: #522A07;
}

.folkways {
	background-color: #F1F1F1;
	color: #6B6262;
}

.diacritics {
	background-color: #FA2378;
	color: white;
}

.colloquy {
	background-color: #F6C31F;
	color: white;
}

.hungry-for-design {
	background-color: #D8D8D8;
	color: black;
}

.visual-dialogue {
	background-color: #808080;
	color: white;
}