:root {
  --primary: #181818;
  --secondary: #6e9f57;
  --secondary--active: #93b6ac;
  --accent-wall: #dce5e5;

  --sans--regular: 'Gilroy-Regular', sans-serif;
  --sans--bold: 'Gilroy-ExtraBold', sans-serif;
  --serif--regular: 'Recoleta-Regular', serif;
  --serif--bold: 'Recoleta-Bold', serif;
}

*, *:after, *:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: var(--sans--regular);
  color: var(--primary);
}

/* typography ----------------------------------------------------------------*/
h1, h2, h3 {
  margin: 0;
  font-family: var(--serif--bold);
}

h1 {
  font-size: 100px;
}

h2 {
  margin-bottom: 36px;
  font-size: 24px;
}

h3 {
  margin-bottom: 6px;
  font-size: 18px;
}

p {
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 10px;
}

.small-text {
  position: relative;
  display: block;
  font-family: var(--sans--bold);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--secondary);
}

a {
  color: var(--secondary);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--secondary--active);
}
h2 > a {
  text-decoration: underline;
}

/* grid ----------------------------------------------------------------------*/
section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  padding: 100px;
  padding: 72px 100px;
  background-color: var(--accent-wall);
}

.colspan--2 {
  grid-column: span 2;
}

@media (max-width: 880px) { 
  section {
    grid-template-columns: 1fr;
  }
  .colspan--2 {
    grid-column: auto;
  }
}

@media screen and (max-width: 650px) { 
  section {
    padding: 40px;
  }
}
/* intro ---------------------------------------------------------------------*/
.intro {
  position: relative;
  z-index: 5;
  box-shadow: 0 0 40px rgba(10, 10, 10, .2);
  background-color: white;

  width: 100%;
  min-height: 90vh;
  max-height: 600px;
}

.intro > div {
  padding-top: 100px;
}

.intro p {
  margin-top: 36px;
  animation: deets-slide-in .5s ease-in forwards;
}

.intro p::before {
  content: '';
  position: absolute;
  top: -20px;
  display: block;
  width: 150px;
  height: 6px;
  background-color: var(--secondary);
}

@keyframes deets-slide-in {
  0% {
    opacity: 0;
    top: 36px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

/* projects ------------------------------------------------------------------*/
.projects > header {
  margin-bottom: 72px;
}

/* skip a cell */
.project:first-of-type {
  grid-column: 1;
}

/* project -------------------------------------------------------------------*/
.project {
  padding: 18px 0;
  border-top: 6px solid;
  transition: all .25s;
}

.project__fade-out {
  opacity: .3;
  transition: all 1s;
}

/* project text */
.project__description {
  margin-bottom: 16px;
  font-family: var(--serif--regular);
}

.project__credit {
  display: block;
  padding-top: 6px;
  border-top: 1px solid;
  font-family: var(--serif--regular);
  font-size: 12px;
}

.project__tags {
  color: inherit;
}

.project__link {
  margin-bottom: 12px;
  display: inline-block;
}

.project__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  display: inline-block;
  width: 0;
  height: 3px;
  background-color: transparent;
  transition: width 1s;
}

.project:hover > .project__link::after {
  width: 100%;
  background-color: var(--secondary);
}

.project > .project__link:hover::after {
    background-color: var(--secondary--active);
}

@media (max-width: 880px) { 
    .projects__leader, .projects__awards {
        max-width: none;
    }
    .project {
        width: calc(50% - 24px);
    }
}

@media (max-width: 480px) { 
    .project {
        width: 100%;
    }
}



/* PROJECT DETAIL ------------------------------------------------------------*/
.project-detail {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.project-detail > .project {
    margin: 36px;
    width: calc(33% - 72px);
}

.project__image--two-thirds-inset{
    margin: 60px;
    width: calc(66% - 120px);
}

.project__image--full {
    width: 100%;
}

.project__image--full-inset {
    width: calc(100% - 120px);
    max-height: 100vh;
    margin: 60px;
    object-fit: cover;
}

.project__image--short {
    height: 50vw;
    object-fit: cover;
    object-position: 0 0;
}

.project__image--two-thirds {
    width: 66%;
    flex-grow: 1;
}

.back {
    display: block;
    margin: -9px 0 18px 0;
    padding-bottom: 9px;
	font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid var(--primary);

    font-size: 10px;
    font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
    color: var(--secondary);

    cursor: pointer;
}

.back--end {
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    margin: 36px;
    padding-top: 9px;
    width: calc(33% - 72px);
}

/* say hi -------------------------------------------------------------------*/
footer {
  position: relative;
  z-index: 5;
  box-shadow: 0 0 40px rgba(10, 10, 10, .2);
   
  display: flex;
  align-items: baseline;
  justify-content: flex-end;

  height: 50px;
  width: 100%;
  padding: 15px 100px;
}

.say-hi > p {
  margin: 0 18px 0 0;
  color: inherit;
}

.say-hi__icon > svg {
  width: 15px;
  height: 15px;
  fill: var(--secondary);
}

.say-hi__icon > svg:hover {
  fill: var(--secondary--active);
}

.say-hi__icon + .say-hi__icon {
  margin-left: 15px;
}
