---

---

<div class="wrapper wrapper--intro">
  <section class="intro">
    <h1 class="one-third">hi!</h1>

    <div class="two-thirds">
      <h2>I’m Remy.</h2>
      <h2>
        I love being a <a id="front-end">front-end engineer</a>, in a past life
        I was a <a id="design">print &amp; web designer</a>, and I’ve done some <a
          id="awesome">pretty rad things</a
        >.
      </h2>
      <!-- <h2>I'm open to work!</h2> -->
      <p id="intro__deets">
        I love to work on design systems and pattern libraries, and delivering
        tools and processes focused on the transition from idea to design to
        code. I'm currently a Senior Engineer at Jeli by PagerDuty, an incident
        managment and learning tool. I've worked on a variety of products and
        team sizes, from operating as the only frontend engineer on the launch
        of Ro's Mental Health offering, Ro Mind, to managing the front-end team
        at Tracer, a marketing data aggregation and analytics platform.
      </p>
    </div>
  </section>
</div>
<style>
  .wrapper--intro {
    position: relative;
    z-index: 5;
    box-shadow: 0 0 40px rgba(10, 10, 10, 0.2);
    background-color: white;

    min-height: 90vh;
  }

  .intro > div {
    padding-top: 100px;
  }

  @media (max-width: 650px) {
    .intro > div {
      padding-top: 50px;
    }
  }

  .intro p {
    margin-top: 36px;
    animation: deets-slide-in 0.5s ease-in forwards;
  }

  .intro p::before {
    content: "";
    position: absolute;
    top: -20px;
    display: block;
    width: 150px;
    height: 6px;
    background-color: var(--secondary);
  }

  @keyframes deets-slide-in {
    0% {
      opacity: 0;
      top: 36px;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
</style>
<script>
  document.getElementById("front-end")?.addEventListener("click", () => {
    const intro = document.getElementById("intro__deets");
    if (intro)
      intro.innerHTML =
        "I love to work on design systems and pattern libraries, and delivering tools and processes focused on the transition from idea to design to code. I'm currently a Senior Engineer at Jeli by PagerDuty, an incident managment and learning tool. I've worked on a variety of products and team sizes, from operating as the only frontend engineer on the launch of Ro's Mental Health offering, Ro Mind, to managing the front-end team at Tracer, a marketing data aggregation and analytics platform.";
  });

  document.getElementById("design")?.addEventListener("click", () => {
    const intro = document.getElementById("intro__deets");
    if (intro)
      intro.innerHTML =
        "Before diving into full time web development I was a senior designer and front-end developer at Visual Dialogue, a small agency working on big projects. Over five years I worked with a couple dozen clients doing a variety of projects including brand systems, books, magazines, music packaging, web sites, ecommerce platforms, advertising, you name it.";
  });

  document.getElementById("awesome")?.addEventListener("click", () => {
    const intro = document.getElementById("intro__deets");
    if (intro)
      intro.innerHTML = `In 2019 I backpacked over 150 miles including the Grand Canyon Rim to Rim to Rim&mdash;around 50 miles, 21,000 feet in elevation change, over 6 days.
      <br/><br/>
      In 2015 my husband and I converted a 1999 ford econoline e350 into a campervan. We took off in August and spent three months living and working in the van as we drove 13,000 miles around the country.
      <br/><br/>
      Nowadays I garden in the summer, build furniture in the winter, and play video games through the year.`;
  });
</script>
