---

---

<article class="detail one-third">
  <p class="project__description">
    <slot />
  </p>
</article>
<style>
  article.detail {
    padding: 24px 20px 10px 20px;
    background-color: black;
    color: white;
    height: fit-content;
  }

  .project__description {
    margin-bottom: 16px;
    font-family: var(--serif--regular);
  }
</style>
